/* Base Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: auto;
  height: 80px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 20px;
}

nav ul li {
  position: relative;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ffeb3b;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4caf50;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #388e3c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  font-size: 14px;
  color: white;
}

.contact-info a {
  color: white;
  text-decoration: none;
  margin: 2px 0;
}

.contact-info a:hover {
  color: #ffeb3b;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none; /* Hidden by default */
}

#check {
  display: none; /* Hide the checkbox */
}

h2 {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 28px;
  border: 2px solid #388e3c;
  border-radius: 5px;
  margin: 50px auto;
  width: 80%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.destination-container,
.new-container {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.destination-container {
  background-color: #fff;
}

.new-container {
  background-color: #f0f0f0;
}

.attraction {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attraction h4 {
  margin: 10px 0;
}

.attraction-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.view-map {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

.view-map:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

h3 {
  text-align: center;
  color: #4caf50;
  margin-bottom: 10px;
  font-size: 24px;
}

.hotel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: transform 0.3s, box-shadow 0.3s;
}

.hotel:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.hotel img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
select {
  margin-top: 5px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 24px);
  transition: border-color 0.3s;
  background-color: #f9f9f9;
}

input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
select:focus {
  border-color: #4caf50;
  background-color: #fff;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

footer {
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.footer-logo {
  width: auto;
  height: 80px;
  margin-right: 20px;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer nav ul li {
  position: relative;
  margin: 0 15px;
}

footer nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

footer nav ul li a:hover {
  color: #ffeb3b;
}

footer p {
  margin: 10px 0 0;
  font-size: 16px;
}

/* Media Queries for Mobile Responsiveness */

@media (max-width: 952px) {
  body {
    margin: 0;
    padding: 0;
  }

  label.logo img {
    height: 40px;
    margin-left: -40px;
  }
  nav ul li a {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }
  .logo {
    margin-right: 100px;
    width: auto;
    height: 80px;
  }

  .container-wrapper {
    flex-direction: column;
  }

  .destination-container,
  .new-container {
    width: 100%;
    margin: 0;
    padding: 0px;
  }

  h2 {
    font-size: 24px;
  }
  input[type="email"],
  input[type="date"],
  input[type="time"],
  input[type="number"],
  select {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: calc(100% - 40px);
    transition: border-color 0.3s;
    background-color: #f9f9f9;
  }

  .hotel,
  .attraction {
    margin-bottom: 20px;
  }
  .hotel img {
    max-width: 70%;
    height: auto;
    border-radius: 8px;
  }

  .hotel form input,
  .hotel form select {
    width: 100%;
  }

  footer nav ul {
    flex-direction: column;
  }

  footer nav ul li {
    margin: 5px 0;
  }
}

@media (max-width: 858px) {
  body {
    margin: 0;
    padding: 0;
  }
  .checkbtn {
    display: block; /* Show the check button */
    margin-left: 40px;
  }

  nav ul {
    position: fixed;
    width: 30%; /* Adjust width to 100% */
    height: 50vh;
    background: #4caf50;
    top: 100px;
    left: -30%; /* Hide off-screen */
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    margin: 20px 0;
  }

  nav ul li a {
    font-size: 16px;
  }

  /* When checkbox is checked, show the menu */
  #check:checked ~ ul {
    left: 0; /* Show the menu */
  }
  .hotel,
  .attraction {
    align-items: center;
  }
  .attraction-image {
    max-width: 70%;
  }
  .view-map {
    padding: 12px 16px;
  }

  button {
    padding: 10px 18px;
  }

  footer p {
    font-size: 14px;
  }
}
